<div class="leaderboard">
  <div class="sportname">
    Basketball
  </div>
  <div class="heading">
    leaderboard
  </div>
  <div class="header">
    <div class="teamname">Team Name</div>
    <div class="matches">Matches</div>
    <div class="wins">Wins</div>
    <div class="losses">Losses</div>
    <div class="totalpoints">Total Points</div>
  </div>
  <div class="content">
    <div class="position">1</div>
    <div class="teamname">Team A</div>
    <div class="matches">5</div>
    <div class="wins">3</div>
    <div class="losses">2</div>
    <div class="totalpoints">16</div>
  </div>
  <div class="content">
    <div class="position" style="background-color: rgba(246, 166, 30, 1);">2</div>
    <div class="teamname">Team B</div>
    <div class="matches">Matches</div>
    <div class="wins">Wins</div>
    <div class="losses">Losses</div>
    <div class="totalpoints">Total Points</div>
  </div>
  <div class="content">
    <div class="position" style="background-color: rgba(239, 53, 35, 1);">3</div>
    <div class="teamname">Team C</div>
    <div class="matches">Matches</div>
    <div class="wins">Wins</div>
    <div class="losses">Losses</div>
    <div class="totalpoints">Total Points</div>
  </div>
  <div class="content">
    <div class="position" style="background-color:rgba(69, 189, 167, 1);">4</div>
    <div class="teamname">Team D</div>
    <div class="matches">Matches</div>
    <div class="wins">Wins</div>
    <div class="losses">Losses</div>
    <div class="totalpoints">Total Points</div>
  </div>
  <div class="content">
    <div class="position" style="background-color:rgba(0, 137, 191, 1);">5</div>
    <div class="teamname">Team E</div>
    <div class="matches">Matches</div>
    <div class="wins">Wins</div>
    <div class="losses">Losses</div>
    <div class="totalpoints">Total Points</div>
  </div>
</div>