<form class="example-form" [formGroup]="addEventForm" (ngSubmit)="onSubmit()">


  <!-- Upload image  -->
  <div class="form-group">
    <div class="avatar-edit"><img (click)="fileInput.click()" [src]="imageUrl || '../assets/img_preview.jpeg'"
        style="height: 100%;width: 100%;">
      <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" required
        style="height: 0px;width:0px;" />
    </div>
    <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'" style="height: 100%;width: 100%;">
    </div>

  </div>


  <mat-card style="margin-bottom: 10px;">
    <mat-card-content>

      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="example-full-width" style="text-align: justify;width: 80%;">
            <input matInput placeholder="Title" type="text" id="eventTitle" formControlName="title" required
              #eventTitle>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" style="text-align: justify;width: 80%;">
            <input matInput placeholder="Content" type="text" id="eventContent" formControlName="desc" required
              #eventContent>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width" style="text-align: justify;width: 80%;">
            <input matInput placeholder="Event-Venue" type="text" id="eventVenue" formControlName="venue" #eventVenue>
          </mat-form-field>

          <mat-form-field>
            Date
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- <div class="form-group">
          <mat-form-field class="example-full-width" style="text-align: justify;width: 80%;">
            <input matInput placeholder="Sport" type="text" id="sport" formControlName="sport" #sport>
          </mat-form-field>
        </div> -->
      </mat-card-content>

      <section class="example-section" >
        <mat-checkbox class="example-margin" formControlName="isGroupEvent">Grop Event</mat-checkbox>
        <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
      </section>

      <!-- <select class="form-control" id="isGroupEvent" formControlName="isGroupEvent">
        <option value="default">--Yes/No--</option>
        <option *ngFor="let b of bool;" [ngValue]="b">{{b}}</option>
      </select> -->

    </mat-card-content>
  </mat-card>

  <button type="submit" style="background-color: blue;width: 100%;" class="form-group">Submit</button>

  <div class="Buttons" style="margin-top: 5%;"><a href="admin" style="color: rgb(253, 253, 253);">
      <button RouterLink="admin" type="cancel" style="background-color: rgba(168, 162, 162, 0.219);width: 100%;"
        class="btn btn-default">Go
        Back</button></a></div>
</form>
