<div class="container">
    <form class="form-box" [formGroup]="passForm" >
        <div class="heading">Change Password</div>
              <mat-form-field class="text-input" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input  matInput placeholder="Enter Password" formControlName="password" type="password" required>
                  <mat-error *ngIf="passForm.get('password')!.hasError('minLength')">
                    Password must be atleast 6 character long
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="text-input" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input   type="password"  matInput placeholder="Re-enter Password" formControlName="confirmPass" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="passForm.getError('mismatch')">
                    Password does not match
                </mat-error> 
            </mat-form-field>
             
          <div class="button_s1">
              <button class="button_1" [disabled]="!passForm.valid" (click)="onSubmit()">CHANGE</button>
          </div>       

     </form>

</div>

