/* *, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
}

.swiper-container {
	width: 100%;
	height: 28vw;
	transition: opacity .6s ease;
}



.swiper-slide{
  width: 30%;
height: 30vh;
border: 5px solid white;
margin-top: 5vh;
}
.swiper-slide-next{
  width: 40%;
height: 40vh;
margin: auto;
margin-left:2%;;
margin-right:2%;;

}
.swiper-button-next{
  margin-top: 20%;
}
.swiper-button-prev{
  margin-top: 20%;
}

.swiper-slide .entity-img {
	display: none;
}

.swiper-slide .content {
	position: absolute;
	top: 40%;
	left: 0;
	width: 50%;
	padding-left: 5%;
	color: #fff;
}

.swiper-slide .content .title {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 30px;
}

.swiper-slide .content .caption {
	display: block;
	font-size: 13px;
	line-height: 1.4;
}

[class^="swiper-button-"] {
	width: 44px;
	opacity: 0;
	visibility: hidden;
}

.swiper-button-prev {
	transform: translateX(50px);
}

.swiper-button-next {
	transform: translateX(-50px);
} */

.swiper-container {
	width: 100%;
	height: 28vw;
	transition: opacity .6s ease;
}


.swiper-slide{
/* height: 30vh;*/
object-fit: cover; 
background: transparent;
border: 5px solid white;
margin-top: 5vh;
}
.swiper-slide-next{
height: 40vh;
margin: auto;

}
.contain-slider{
  margin-left:5%;
  margin-right:5%;
  padding-bottom: 5%;
}

@media screen and (max-width:600px)
     {
      .swiper-slide-next{
        height: 15vh;

      }

      .about-us-caption {
        font-size: 300%;
      }
      .gallery_title {
        font-size: 250%;
      }

      .about-us-content {
        font-size: 120%;
      }
      .logo {
        width: 80%;
      }
     }

@media screen and (min-width:600px){
  .about-us-caption {
    font-size: 400%;
  }

  .gallery_title {
    font-size: 350%;
  }
  .logo {
    width: 50%;
  }
}

body {
  background-color: #c6d7de;
  font-family: "Segoe UI", Roboto, "Open Sans", sans-serif;
  padding: 3em;
}
.logo{
    margin-top: -1%;
    margin-left: 4%;
    height: 20%;
    filter: drop-shadow(20px 20px 20px rgb(0, 0, 0));
}

/* .content_2 {
  width: 80%;
} */
.about-us-caption{
    margin-top: 10%;
    margin-left: 8%;
    color: #000000;
    font-weight: 800;
    /* font-size: 400%; */
    font-family: 'Raleway';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-us-content{
    margin-top: 4%;
    margin-left: 9%;
    margin-right: 9%;
    line-height: 1.4;
}
.caption {
    margin-left: 5%;
}

.gallery_title {
  text-align: center;
  color: #000000;
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 6%;
  /* margin-right: auto; */
    font-weight: 800;
    /* font-size: 350%; */
    font-family: 'Raleway';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.login{
    /* margin:0px;
    height:100%;
    width:100%; */

    /* background:url('../../assets/gymkhana.png') no-repeat fixed; */
    filter:drop-shadow(20px 20px 20px rgb(0, 0, 0));
     -webkit-box-shadow:0px 1px 1px #000000;
    -moz-box-shadow:0px 1px 1px #000000;
    box-shadow:0px 0px 1px #000000;
    -webkit-background-size:cover;

    -o-background-size:cover;
    -moz-background-size:cover; 
    background-size:cover;
    
}

.login1{
    /* margin:0px; */
    height:100%;
    width:100%;
    background:url('../../assets/about-us.png') no-repeat center center;

    background-size:cover;
    min-height:100vh;
}

/*
#v0 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
} */

#set-height {
  display:grid;
}

/* section {
  z-index: -5;
  position: relative;
}

section:nth-of-type(1) {
  height: 1200px;
}

section:nth-of-type(2) {
  height: 1200px;
}

section:nth-of-type(3) {
  height: 1200px;
}

section:nth-of-type(4) {
  height: 1000px;
}

section:nth-of-type(5) {
  height: 4000px;
} */

.content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 70.3%;
  display: flex;
  flex-direction: column;

}

h1 {
  font-size: 3em;
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px;
}

p {
  font-size: 1.5em;
}

.entered {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@media screen and (max-width: 600px) {
  .login{
    background:  url('../../assets/aavhan_bg.png'); 

    /* background:  url('../../assets/landing-mobile-bg.png'); */
    background-size: cover;
    min-height: 110vh;
  }
}

@media screen and (min-width: 600px) {
  .login{
    background:  url('../../assets/gymkhana.png') no-repeat fixed ;
    background-size: cover;
    min-height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .login{
    background:  url('../../assets/gymkhana.png') no-repeat fixed ;
    background-size: cover;
    background-position: center;
    min-height: 140vh;
  }

  .logo {
    width:60%;
  }

}

@media screen and (min-width: 992px) {
  .login{
    background:  url('../../assets/gymkhana.png') no-repeat fixed ;
    background-size: cover;
    min-height: 160vh;
  }

  .logo{
    width: 50%;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
#box{
    width: 60%;
       max-height: 40000px;
       background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
       display: table-cell;
       background: transparent;

     }

     @media screen and (max-width:500px)
     {

     #box
     {
     width:100%;
     display:block;
     }

     .container{
       width: 100%;
     }


     }
   :host {
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 14px;
     color: #333;
     box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }

   @media (min-width: 992px){
   .container{
       max-width: 100%;
   }
   }

   @media (min-width: 576px){
   .container {
       max-width: 100%;
   }
   }







.card {
    border-radius: 40px;
    border: 3px solid #eee;
    background-image: linear-gradient(to bottom right, rgb(111, 48, 235), rgb(197, 10, 169));
    height: 30px;
    width: 150px;
    margin: 0 8px 16px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 400px;
    margin-top: -10px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }


  a,
  a:visited,
  a:hover {
    color: #00ffee;
    font-size: x-large;

    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .container{
      width: 100%;
    }
    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
    .container{
      width: 100%;
    }
  }

  body{
    background-repeat: repeat;
  }
  .event-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .event-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .mat-divider {
    border-top-color: grey;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }

  #hidden_sports {
    margin-top: 5%;
    pointer-events: none;
  }

  #shown_sports {
    margin-bottom: 0%;
  }

  mat-grid-list {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  mat-card-title {
    font-size: medium;
  }

  mat-card>img {
    width: 50%;
    height: 50%;
  }

  .line1 {
    position: relative;
    height: 5px;
    left: -10vw;
    width: 80%;
    text-align: center;
    background: rgb(172, 37, 184);
    background: linear-gradient(68deg, rgba(172, 37, 184, 1) 36%, rgba(222, 135, 12, 1) 94%);
  }

  mat-grid-tile-footer {
    font-size: medium;
    max-height: 20px;
    text-align: center;
  }

  .contain-slider {
    width: 80%;
    margin:auto;
  }

  .podium {
    display: flex;
    margin: auto;
    width: fit-content;
    color: white;

  }

  .first {
    margin: 10px;

  }

  .podium p {
    text-align: center;
    margin-top: 5px;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Centerfbac slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .round-class {
    border-radius: 30px;
    width: 40%;
    height: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 4%;
    margin-top: 10%;
    color: white;
    text-shadow: rgb(245, 245, 245);
    background-color: #1a172c;
    font-size: 105% !important;
  }

  .round-class:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(225, 71, 215);
  }


  mat-grid-tile {
    border-radius: 5%;
    border: 10%;
  }

  mat-grid-tile img {
    height: 100%;
    width: 100%
  }


  .container {
    display: flex;
    overflow: auto;
    flex: none;
    width: 80%;
    height: fit-content;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 5 !important;
    margin-top: 2%;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .container>mat-card {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
    font-size: 400%;
    width: 80%;
    height: 100%;
    margin-right: 10%;
    scroll-snap-stop: always;

  }

  .container>div:nth-child(even) {
    background-color: #87EA87;
  }

  .container>div:nth-child(odd) {
    background-color: #87CCEA;
  }



  .button-grp button {
    font-size: 30px;

  }

  .wholepage{
    position: relative;
  width: 390px;
  height: 844px;

  background: #EBEBEB;
  }

  .home-titles{
    box-sizing: border-box;
    width: 100%;
    height: 23%;
    left: 0px;
    padding-bottom: 18%;
    margin-top: -6%;
    margin-bottom: -5%;
    background: #51046B;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0px 0px 40px 40px;
  }

  .section-title {
    font-size: larger;
    margin-top: 5%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
  }

  .section-welcomes{
       height: 83px;
       margin: auto;
       margin-top: 14%;
       width: 85%;
       background: #FFFFFF;
       border-radius: 20px;
  }

  .welcomes{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    justify-content: center;
    text-align: center;
    padding-top: 32px;
    color: #000000;
  }

  .htitle{
   padding:15px;
   display: flex;
   justify-content: space-around ;
   align-items: center
  }

  .events{
    padding:50px;
    display:flex;
    justify-content: space-around;
    overflow-x:auto;

  }
  .oneevent{

  width: 259px;
  height: 187px;
  left: 65px;
  top: 244px;
  margin: 15px;
  background: #F0F0F0;
  box-shadow: 0px 4px 4px 9px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  }

  .event-title{

  width: 259px;
  height: 42px;
  left: 324px;
  top: 286px;

  background: #7F00AA;
  border-radius: 0px 0px 20px 20px;
  transform: rotate(-180deg);
  }

  .event-name{

  padding: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  transform: rotate(-180deg);
  color: #FFFFFF;
  }

  .inters-iit{
  margin: auto;
  margin-bottom: 30px;
  width: 75%;
  height: 25%;
  left: 39px;
  top: 463px;
  align-items: flex-end;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 9px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  }


  .gc-box{
    margin: auto;
    margin-bottom: 30px;
  width: 75%;
  height: 25%;
  left: 39px;
  top: 463px;
  align-items: flex-end;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 9px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
    }


  .iittitlebox{
    width: 25%;
    height: 100%;
    position: end;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #7F00AA;
    border-radius: 0px 20px 20px 0px;
    float: right;



    /* margin-left: 238px;
    width: 70%;
    height: 100%;
    position: end;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #7F00AA;
    border-radius: 0px 20px 20px 0px;
    float: right; */
  }


  .inter-iit-text{

    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;

  }

  .gctitlebox{

    width: 25%;
    height: 100%;
    position: end;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #7F00AA;
    border-radius: 20px 0px 0px 20px;
    float: right;
    }

  a.card.card-small{
    width: 75% !important;
    border-radius: 10px !important;
    font-family: 'Montserrat', sans-serif !important;
    background-image: linear-gradient(to right, #c982c5ad 0%, #85afd6b6 51%, #e38cf0b9 100%) !important;
    color: #51046B;
    box-shadow: 0px 0px 10px #51046B;
  }
