<!-- <div class="container col-6">
    <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" formControlName="name">
            <span style="color: red" *ngIf="name && name.invalid && name.touched">Name field should not be empty</span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPhone" class="form-label">Phone No.</label>
            <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp" formControlName="phone">
            <span style="color: red" *ngIf="phone && phone.invalid && phone.touched">phone no. should be 10 digit</span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
            <span style="color: red" *ngIf="email && email.touched && email.invalid
            ">enter correct email</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->

<div class="container">
    <!-- <img src="../../assets/login_bg_1.png"  alt="...">  -->
    <!-- <div class="center"> -->

        <!-- <img src="../../assets/login_bg_1.png" class="image-fluid" alt="" /> -->
         
        <div class="aavhan">
            <p>AAVHAN 2023 </p>
        </div>
        <div class="comp">
            <p>COMPETITON </p>
        </div>
        <div class="login">
                <asl-google-signin-button type='standard' size='large'>Login using Google</asl-google-signin-button>
        </div>

        
  
  <!-- </div> -->
  <!-- <div class="imageContainer ">Some Text</div> -->
</div>

