<div class="container">
    <div class="form-box">
        <mat-stepper  #stepper >
              <mat-step [stepControl]="emailForm">
                  <form [formGroup]="emailForm">
                  <ng-template matStepLabel>Step-1</ng-template>
                  <h4 class="heading"> Enter Registered Email ID</h4>
                  <mat-form-field class="text-input" appearance="outline">
                    <mat-label>Login Type</mat-label>
                    <mat-select [(ngModel)]="selectedValue" formControlName="type">
                      <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <br>

                  <mat-form-field class="text-input" appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="email" required>
                    <!-- <mat-error *ngIf="regForm.get('college')!.hasError('required')">
                      Institute Name is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>
                
                  <div class="button_s1">
                    <button class="button_1" (click)="getOTP()" [disabled]="!emailForm.valid" matStepperNext>GET OTP</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="otpForm">
                <form [formGroup]="otpForm">
                <ng-template matStepLabel>Step-2</ng-template>
                <h4 class="heading">Enter the OTP sent to your email</h4>
                  <mat-form-field class="text-input" appearance="outline">
                    <mat-label>OTP</mat-label>
                    <input matInput formControlName="otp" required>
                    <mat-error *ngIf="otpForm.get('otp')!.hasError('minLength')">
                      Enter a valid OTP
                    </mat-error>
                  </mat-form-field>
    
                    <!-- <mat-error *ngIf="regForm.get('contingentLeaderEmail')!.hasError('required')">
                      Email ID is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="regForm.get('contingentLeaderEmail')!.hasError('email')">
                      Please enter a valid email ID
                    </mat-error> -->
                 
                    <!-- <mat-error *ngIf="regForm.get('contingentLeaderPhoneNo')!.hasError('required')">
                      Phone Number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="regForm.get('contingentLeaderPhoneNo')!.hasError('minLength')">
                      Please enter a valid phone number
                    </mat-error> -->
        
                    <!-- <mat-error *ngIf="regForm.get('contingentLeaderPhoneNo')!.hasError('required')">
                      Phone Number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="regForm.get('contingentLeaderPhoneNo')!.hasError('minLength')">
                      Please enter a valid phone number
                    </mat-error> -->
                  <div class="button_s2">
                    <button class="button_1"  matStepperPrevious>BACK</button>
                    <button class="button_1" [disabled]="!otpForm.valid" (click)="verifyOTP()"  matStepperNext>VERIFY</button>
                  </div>
                </form>
              </mat-step>
        </mat-stepper>
    </div>
  </div>