<div class="teams">
  <div class="container">
    <h1 class="text-center heading"><b><u>OUR TEAM</u></b></h1>
    <div class="event-team">
      <div class="team">
    <img class="team-pic-head" src="../../assets/team pics/Sanghvi JI 2.jpg" alt="">
    <div class="text-center name"><b>Pratham Sanghvi</b></div>
    <div class="text-center designation">Overall Coordinator</div>
    <div class="socials">
      <a href="tel:+91 99679 47552"><i class="fa-solid fa-phone icons"></i></a>
      <a href="https://www.instagram.com/ath_441/"><i class="fab fa-instagram icons"></i></a>
        <a href="mailto:atharvat464@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
        <a href="https://www.linkedin.com/in/atharva-tayade-9891b6191/"><i class="fa-brands fa-linkedin icons"></i></a>
    </div>
    </div>
    </div>

    
      <h1 class="text-center sub-heading"><b>Events</b></h1>
      <div class="event-team">
        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/Sumit.jpg" alt="">
          <div class="text-center name"><b>Sumit Laddha</b></div>
          <div class="text-center designation ">Events Manager</div>
          <div class="socials2">
            <a href="tel:+91 7378374534"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/mrunal_lalwani/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:mlalwani0927@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/mrunal-lalwani-1241041b9/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>

      <div class="team">

        <img class="team-pic" src="../../assets/team pics/Shrutika.jpg" alt="">
        <div class="text-center name"><b>Shrutika</b></div>
        <div class="text-center designation ">Events Manager</div>
        <div class="socials2">
          <a href="tel:+91 9146642583"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://instagram.com/prathamesh_dp_raj?igshid=ZmZhODViOGI="><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:prathameshd.aavhan@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/prathamesh-d-74b015120"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>
      </div>
      <div class="team">
        <!-- <div class="mrunal team-pic"></div> -->
        <img class="team-pic" src="../../assets/team pics/Gopal.jpg" alt="">
        <div class="text-center name"><b>Gopal Maheshwari</b></div>
        <div class="text-center designation ">Events Manager</div>
        <div class="socials2">
          <a href="tel:+91 7738709870"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:aditya.aavhan2023@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/aditya-rana-694726213/"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>
      </div>
      <div class="team">
        <!-- <div class="mrunal team-pic"></div> -->
        <img class="team-pic" src="../../assets/team pics/arya.jpg" alt="">
        <div class="text-center name"><b>Arya Agarwal</b></div>
        <div class="text-center designation ">Events Manager</div>
        <div class="socials2">
          <a href="tel:+91 98708 48435"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://www.instagram.com/params2602/"><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:mailto:sonups0226@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="http://linkedin.com/in/param-shah-2822261b9"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>
      </div>
      </div>
      <h1 class="text-center sub-heading"><b>Media & PR</b></h1>
      <div class="event-team">
        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/Jenil 2.jpg" alt="">
          <div class="text-center name"><b>Jenil </b></div>
          <div class="text-center designation ">Media & PR Manager</div>
          <div class="socials2">
            <a href="tel:+91 8369133875"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/sshaw192003/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:sshaw192003@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/shubham-shaw-346698213/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>
        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/Shreya.jpg" alt="">
          <div class="text-center name"><b>Shreya</b></div>
          <div class="text-center designation ">Media & PR Manager</div>
          <div class="socials2">
            <a href="tel:+91 8857051334"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/ajinkyabobde"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:avbobde@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/ajinkya-bobde-18b505221"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
  
          </div>
      </div>
      <h1 class="text-center sub-heading"><b>Hospitality</b></h1>
      <div class="event-team">
        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/Piyush.jpg" alt="">
          <div class="text-center name"><b>Piyush Jalwania</b></div>
          <div class="text-center designation ">Hospitality Manager</div>
          <div class="socials2">
            <a href="tel:+91 8369133875"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/sshaw192003/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:sshaw192003@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/shubham-shaw-346698213/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>
        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/Sahil.jpg" alt="">
          <div class="text-center name"><b>Sahil Zodge</b></div>
          <div class="text-center designation ">Hospitality Manager</div>
          <div class="socials2">
            <a href="tel:+91 8857051334"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/ajinkyabobde"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:avbobde@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/ajinkya-bobde-18b505221"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
  
          </div>
      </div>
  
      <h1 class="text-center sub-heading"><b>Marketing</b></h1>
    <div class="event-team">
      <div class="team">

        <img class="team-pic" src="../../assets/team pics/Dhriti.jpg" alt="">
        <div class="text-center name"><b>Dhritiman</b></div>
        <div class="text-center designation ">Marketing Manager</div>
        <div class="socials2">
          <a href="tel:+91 8237862645"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://www.instagram.com/harsshh_14/"><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:harsshhwankhayday123@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/harsshh-wankhayday-b69204202/"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>
      </div>
      <div class="team">

        <img class="team-pic" src="../../assets/team pics/Alfia.jpg" alt="">
        <div class="text-center name"><b>Alfia</b></div>
        <div class="text-center designation ">Marketing Manager</div>
        <div class="socials2">
          <a href="tel:+91 8080058069"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://instagram.com/_manav_gada_?igshid=ZmZhODViOGI="><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:gadamanav@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/manav-gada-474124167"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>

        </div>
        <div class="team">

          <img class="team-pic" src="../../assets/team pics/Gourav.jpg" alt="">
          <div class="text-center name"><b>Gaurav</b></div>
          <div class="text-center designation ">Marketing Manager</div>
          <div class="socials2">
            <a href="tel:+91 91367 83386"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/pratham.sanghvi/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:prathamsanghvi18@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/pratham-sanghvi"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
  
          </div>
    </div>

    <h1 class="text-center sub-heading"><b>Operations</b></h1>
    <div class="event-team">
      <div class="team">

        <img class="team-pic" src="../../assets/team pics/Abhishek.jpg" alt="">
        <div class="text-center name"><b>Abhishek Singh</b></div>
        <div class="text-center designation ">Operations Manager</div>
        <div class="socials2">
          <a href="tel:+91 8408044881"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://www.instagram.com/1905_harsh/"><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:harshsapkale31@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/harsh-sapkale-455624210/"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>
      </div>

      <div class="team">

        <img class="team-pic" src="../../assets/team pics/Ramresh.jpg" alt="">
        <div class="text-center name"><b>Ramresh</b></div>
        <div class="text-center designation ">Operations Manager</div>
        <div class="socials2">
          <a href="tel:+91 8408044881"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://www.instagram.com/1905_harsh/"><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:harshsapkale31@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/harsh-sapkale-455624210/"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>
      </div>
    </div>

    
    <h1 class="text-center sub-heading"><b>Web and Creatives</b></h1>
    <div class="event-team">
      <div class="team">

        <img class="team-pic" src="../../assets/team pics/tushir 3.jpg" alt="">
        <div class="text-center name"><b>Tushir Doshi</b></div>
        <div class="text-center designation ">Design Head</div>
        <div class="socials2">
          <a href="tel:+91 7503854397"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://www.instagram.com/johnpaulkujur/"><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:johnpaulkujur@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/john-paul-kujur-b50349175/"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>
      </div>
      <div class="team">

        <img class="team-pic" src="../../assets/team pics/Trilok.jpg" alt="">
        <div class="text-center name"><b>Trilok</b></div>
        <div class="text-center designation ">Web Head</div>
        <div class="socials2">
          <a href="tel:+91 7424863981"><i class="fa-solid fa-phone icons"></i></a>
          <a href="https://www.instagram.com/srishtis_19/"><i class="fab fa-instagram icons"></i></a>
          <a href="mailto:srishtis619@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
          <a href="https://www.linkedin.com/in/srishtis19"><i class="fa-brands fa-linkedin icons"></i></a>
        </div>

        </div>
    </div>

    <h1 class="text-center sub-heading"><b>Institute Sports Council</b></h1>
      <div class="event-team">
        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/ketan.jpg" alt="">
          <div class="text-center name"><b>Ketan Agarwal</b></div>
          <div class="text-center designation ">General Secretary Sports Affair</div>
          <div class="socials2">
            <a href="tel:+91 9644267882"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:ketan.agrawal811@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>
        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/prem.jpg" alt="">
          <div class="text-center name"><b>Prem Kavathiya</b></div>
          <div class="text-center designation ">Institute Events Nominee</div>
          <div class="socials2">
            <a href="tel:+91 9925577977"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:premkavathiya77977@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>

        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/khyati.jpeg" alt="">
          <div class="text-center name"><b>Khyati Meena</b></div>
          <div class="text-center designation ">Institute Sports Girls' Nominee</div>
          <div class="socials2">
            <a href="tel:+91 8879557659"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:khyatimeena1505@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>

        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/shreyas.jpg" alt="">
          <div class="text-center name"><b>Shreyas Nagu</b></div>
          <div class="text-center designation ">Institute Admin Nominee </div>
          <div class="socials2">
            <a href="tel:+91 7093841075"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:shreyasnagu102@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>

        <div class="team">
  
          <img class="team-pic" src="../../assets/team pics/shikhar.png" alt="">
          <div class="text-center name"><b>Shikhar Tandon</b></div>
          <div class="text-center designation ">Institute Sports PG Nominee</div>
          <div class="socials2">
            <a href="tel:+91 8006624428"><i class="fa-solid fa-phone icons"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram icons"></i></a>
            <a href="mailto:shikhartandon84@gmail.com"><i class="fa-regular fa-envelope icons"></i></a>
            <a href="https://www.linkedin.com/in/"><i class="fa-brands fa-linkedin icons"></i></a>
          </div>
        </div>
        
      </div>
      
      
      <!-- <div class="team">

        <img class="team-pic" src="../../assets/team-profile.png" alt="">
        <h2 class="text-center">Mgr 2</h2>
        <h3 class="text-center" style="margin-top: -20px; ">Events Manager</h3>
      </div>
    </div> -->
    <!-- <h1 class="text-center sub-heading"><b><u>Marketing</u></b></h1> -->
    <!-- <div class="event-team">
      <div class="team">

        <img class="team-pic" src="../../assets/team-profile.png" alt="">
        <h2 class="text-center">Mgr 1</h2>
        <h3 class="text-center" style="margin-top: -20px; ">Marketing Manager</h3>
      </div>
      <div class="team">

        <img class="team-pic" src="../../assets/team-profile.png" alt="">
        <h2 class="text-center">Mgr 2</h2>
        <h3 class="text-center" style="margin-top: -20px; ">Marketing Manager</h3>
      </div>
    </div>
    <h1 class="text-center"><b><u>Web and Design</u></b></h1>
    <div class="event-team">
      <div class="team">

        <img class="team-pic" src="../../assets/team-profile.png" alt="">
        <h2 class="text-center">Mgr 1</h2>
        <h3 class="text-center" style="margin-top: -20px; ">Web Manager</h3>
      </div>
      <div class="team">

        <img class="team-pic" src="../../assets/team-profile.png" alt="">
        <h2 class="text-center">Mgr 2</h2>
        <h3 class="text-center" style="margin-top: -20px; ">Design Manager</h3>
      </div>
    </div>
    <h1 class="text-center"><b><u>Operations</u></b></h1>
    <div class="event-team">
      <div class="team">

        <img class="team-pic" src="../../assets/team-profile.png" alt="">
        <h2 class="text-center">Mgr 1</h2>
        <h3 class="text-center" style="margin-top: -20px; ">Operations Manager</h3>
      </div>
      <div class="team">

        <img class="team-pic" src="../../assets/team-profile.png" alt="">
        <h2 class="text-center">Mgr 2</h2>
        <h3 class="text-center" style="margin-top: -20px; ">Operations Manager</h3>
      </div>
    </div>-->
</div>