<div class="sponsors">
  <div class="container">
    <h1 class="text-center heading"><b>OUR Sponsors</b></h1>
    <br>
    <br>

    <img class="sponsor-pic-head" src="../../assets/sponsors/sbi.png" alt="">

    <div class="text-center name title-spons"><b><u>Title Sponsor</u></b></div>
    <div class="sponsors-list">

      <div class="spons-box">
        <div>
          <img class="sponsor-pic" style="background-color:black;"  src="../../assets/sponsors/growfitter.jpg" alt="">
        </div>
        <div class="name2 "><u>Athletics Partner</u></div>
      </div>

      <div class="spons-box">
        <div>
          <img class="sponsor-pic" style="background-color:black; padding:10px"  src="../../assets/sponsors/spheron.png" alt="">
        </div>
        <div class="name2 "><u>Hosting Partner</u></div>
      </div>

      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/2.jpeg" alt="">
        </div>
        <div class="name2 "><u>Energy Partner</u></div>
      </div>

      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/free_press_final.jpg" alt="">
        </div>
        <div class="name2 "><u>Print Media Partner</u></div>
      </div>
  
      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/eeken.jpg" alt="">
        </div>
        <div class="name2 "><u>Footwear Partner</u></div>
      </div>
      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/1.jpeg" alt="">
        </div>
        <div class="name2 "><u>Gaming Partner</u></div>
      </div>
      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/movie.jpg" alt="">
        </div>
        <div class="name2 "><u>Cinema Partner</u></div>
      </div>

      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/apollo.jpg" alt="">
        </div>
        <div class="name2 "><u>Medical Partner</u></div>
      </div>

      

      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/3.webp" alt="">
        </div>
        <div class="name2 "><u>Hydration Partner</u></div>
      </div>
   
      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/5.webp" alt="">
        </div>
        <div class="name2 "><u>Feminine Care Partner</u></div>
      </div>
      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/6.png" alt="">
        </div>
        <div class="name2 "><u>Apparels Partner</u></div>
      </div>
      <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/7.png" alt="">
        </div>
        <div class="name2 "><u>Marathi Media Partner</u></div>
      </div>
      <!-- <div class="spons-box">
        <div>
          <img class="sponsor-pic" src="../../assets/sponsors/The_Free_Press_Journal_logo.jpg" alt="">
        </div>
        <div class="name2 "><u>Print Media Partner</u></div>
      </div> -->
    </div>
    
    
    <!-- <div class="flex-pics">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
    </div>
    <div class="text-center name spons">General Partners</div>
    <div class="flex-pics">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
    </div>
    <div class="text-center name spons">Hydration Partners</div>
    <div class="flex-pics">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
      <img class="sponsor-pic" src="../../assets/sponsor-pic.png" alt="">
    </div>
    <div class="text-center name">Energy Partners</div> -->

  </div>